p {
  font-family: Lato;
}

.available {
  color: red;
  font-size: 20px;
}

.palette {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #656f7d;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.box{
  width: 37%;
}

@media(max-width: 764px){
  .box{
    width: 90%;
  }
}

@media((min-width: 509px) and (max-width: 754px) ){
  .box{
    width: 40% !important;
  }
}
