<div class="container">

  <div *ngIf="hide" class="row mt-5">
      
    <div *ngIf="error" class="alert alert-danger">
      Sorry We Don't ahve that much seat available please book some less seats
    </div>

    <!-- Card To Show Counter Available Seats -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Seats</h5>
          <p class="card-text">Oh! You are Still waiting book fast and enjoy the journey</p>
          <span class="available" >
              {{ 80 - seatsAlreadyBooked }}
            </span>
        </div>
      </div>
    </div>

    <!-- Card To Show How Much Seats are filled in Form OF Chip -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Booked Seats</h5>
          <div style="list-style:none;" *ngFor="let a of fakeArray; let index = index" class="palette m-1"
            [ngStyle]="{'background-color':index+1 <= seatsAlreadyBooked ? 'red' : 'skyblue' }">

            <div>
              {{ index + 1 }}
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Card To Book Seat -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Number Of Seats You Can Book
          </h5>
          <form [formGroup]="bookseatform" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <select required formControlName="seat" class="form-select mb-3 mt-2">
                <option *ngFor="let seats of numberOfSeatToBook" value="{{ seats }}">
                  {{ seats }}
                </option>
              </select>
            </div>
              <input type="submit" [disabled]="!bookseatform.valid"  class="btn btn-success" value="Book">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Card To Booking Deatils Of Seat Seats -->

<div *ngIf="!hide"  class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Booked Seats Number</h5>
          <p class="card-text">Please Take a ScreenShot or not it down</p>
          <h3>From : {{ seatsAlreadyBooked+1 }}</h3>
          <h3>To : {{ newSeatBooked }} </h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-lg btn-info m-4" (click)="goBack()">Back To Booking</button>
    </div>
  </div>
</div>